<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1003536212252-eg7vld51eukhq4cf1ath07tvk2t5lnuu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1003536212252-eg7vld51eukhq4cf1ath07tvk2t5lnuu</string>
	<key>API_KEY</key>
	<string>AIzaSyBtMX0jrklqC7eWW0YF62PV4gZsbgh8xR0</string>
	<key>GCM_SENDER_ID</key>
	<string>1003536212252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>phuanggh.GroupOrders</string>
	<key>PROJECT_ID</key>
	<string>grouporders-93884</string>
	<key>STORAGE_BUCKET</key>
	<string>grouporders-93884.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003536212252:ios:c254dc9032e775cc5fdad9</string>
	<key>DATABASE_URL</key>
	<string>https://grouporders-93884.firebaseio.com</string>
</dict>
</plist>